In [1]:
import pandas as pd

In [2]:
# read in the master counties data, create a DataFrame, create new 'county_state' column
path = './Resources/Master_Counties.csv'
df = pd.read_csv(path)

df['county_state'] = df['county'].astype(str) + "_" + df['state_name'].astype(str)
df.to_csv(path, index=False)

In [3]:
keep_col = ['county_state', 'county','state_id','state_name']
new_df = df[keep_col].drop_duplicates(keep='first')
path = './Resources/uscounty.csv'
new_df.to_csv(path, index=False)

In [10]:
# zillow steps to take:

# import the data from csv - Randy and Elsa - done by Tuesday
path = './Resources/price.csv'
zillow_info = pd.read_csv(path)

# ----------- TRANSFORM - clean the data --------------
# group rows by county - to get the mean of all records for a county - Randy and Elsa  - done by Tuesday
zillow_info = zillow_info.groupby(['County','State']).mean()

# drop city code and population rank columns from the DataFrame - Mark and Anthony
zillow_info = zillow_info.drop(['City Code','Population Rank'], axis=1)

# transpose the rent information from columns into rows
zillow_info_transpose = zillow_info.T
zillow_info_transpose.head()

# ------------ LOAD - get the data into a sql database -------------
# convert into vertical data set instead of horizontal - dates need to be rows instead of columns... or something...
# read csv 
# put data into dictionaries
# create data frames from the dictionaries
# load data frames into database using sqlalchemy, session.query
# key is foreign key - county and state, combined - references "master county table" 
## update county and state information to match master table - change state to full name not an abbreviation
## then create foreign key

County   Acadia Accomack          Ada   Adair        Adams                 \
State        LA       VA           ID      IA           CO     IA  IL  MS
Nov-10  1077.25  1269.75          NaN  1039.0  1248.214286  933.0 NaN NaN
Dec-10  1071.50  1276.75          NaN   999.0  1251.928571  925.0 NaN NaN
Jan-11  1076.25  1291.75          NaN   974.0  1259.857143  924.0 NaN NaN
Feb-11  1081.50  1308.00          NaN   961.0  1273.500000  928.0 NaN NaN
Mar-11  1084.25  1313.00  1055.833333   961.0  1288.285714  936.0 NaN NaN

County                 ...   Yell Yellow Medicine Yellowstone    Yolo York  \
State      NE      OH  ...     AR              MN          MT      CA   ME
Nov-10  827.0  782.50  ...  755.0          1178.5         NaN  1579.8  NaN
Dec-10  842.0  785.00  ...  759.5          1185.5         NaN  1580.6  NaN
Jan-11  855.0  788.25  ...  760.0          1188.5         NaN  1554.2  NaN
Feb-11  854.0  789.25  ...  759.0          1191.5         NaN  1523.8  NaN
Mar-11  863.0  790.25  ...  757.5          1196.0         NaN  1489.2  NaN

County                                  Yuba    Yuma
State            PA      SC      VA       CA      AZ
Nov-10  1219.951613  1197.9  1715.0  1361.75  946.00
Dec-10  1217.774194  1225.2  1707.5  1364.50  938.75
Jan-11  1221.193548  1239.0  1708.5  1368.00  931.50
Feb-11  1229.354839  1215.9  1710.0  1372.25  936.50
Mar-11  1237.209677  1184.4  1715.5  1372.25  941.75

[5 rows x 1820 columns]

In [ ]:
# evictionlab data steps to take:

# import the data from csv - Sidneyh and Harsh and Jason - done by Tuesday

# once the data is imported everyone can feel free to work on the data independently

#----------- TRANSFORM - clean the data -------------
# update county and state info to match master table in anticipation of making this the foreign key - Sidneyh and Harsh and Jason - done by Tuesday

# change column names to be more descriptive AND format for : - Scout and Wesley - done by Tuesday
## poverty rate - change to percentage below poverty line - S and W - done by Tuesday
## race - change to be clear (nh-pi should be native hawaiian or pacific islander) - S and W - done by Tuesday
## pct.other - add "race" so it's clear what this column is referenceing - pct other race - S and W - done by Tuesday
## add "_pct" or similar to every column that is a percentage - S and W - done by Tuesday

# get rid of last three columns - y thru aa - "low flag" "imputed" and "subbed" - all zeros - S and W - done by Tuesday

#---------- LOAD ------------
# key is foreign key - county and state, combined - references "master county table"
## update county and state information to match master table - keep full state name
## then create foreign key

# compare this median.gross.rent to rent information from zillow

In [ ]:
# database to-do list:
# inital database design - Prashanth - "done" by Tuesday
# framework to load data into the database (something something sqlalchemy something something) - Prashanth - "done" by Tuesday

In [ ]:
# database to-do list:
# inital database design - Prashanth - "done" by Tuesday
# framework to load data into the database (something something sqlalchemy something something) - Prashanth - "done" by Tuesday

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect


#DB URL
username = "postgres"
password = "ganesha123" 
db_name = "Residential_Rent_DB"
conn_url = f"postgresql://{username}:{password}@localhost/{db_name}"
    
engine = create_engine(conn_url)

In [ ]:
#Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

In [ ]:
#Populate the state_county_master

#Dummy DF for testing the framework - replace it the DF with the actual DF
state_county_df = pd.read_csv("Resources/counties.csv")
state_county_df.dropna(axis=0, inplace=True, how='any')

#Bulk insert the records into the State_County_Master table
state_county_df.to_sql('state_county_master', engine, index=False, if_exists="append")

In [ ]:
#Populate the COUNTY_ZILLOW_RENTAL_PRICES table
#Populate the COUNTY_DEMOGRAPHICS table
#Populate the COUNTY_RENTERS_EVICTIONS table