In [1]:
import pandas as pd

In [2]:
# read in the master counties data, create a DataFrame, create new 'county_state' column
path = './Resources/Master_Counties.csv'
df = pd.read_csv(path)

df['county_state'] = df['county'].astype(str) + "_" + df['state_name'].astype(str)
df.to_csv(path, index=False)

In [3]:
keep_col = ['county_state', 'county','state_id','state_name']
new_df = df[keep_col].drop_duplicates(keep='first')
path = './Resources/uscounty.csv'
new_df.to_csv(path, index=False)

In [9]:
# zillow steps to take:

# import the data from csv - Randy and Elsa - done by Tuesday
path = './Resources/price.csv'
zillow_info = pd.read_csv(path)

# ----------- TRANSFORM - clean the data --------------
# group rows by county - to get the mean of all records for a county - Randy and Elsa  - done by Tuesday
zillow_info = zillow_info.groupby(['County','State']).mean()

# drop city code and population rank columns from the DataFrame - Mark and Anthony
zillow_info = zillow_info.drop(['City Code','Population Rank'], axis=1)
zillow_info.head()

# ------------ LOAD - get the data into a sql database -------------
# convert into vertical data set instead of horizontal - dates need to be rows instead of columns... or something...
# read csv 
# put data into dictionaries
# create data frames from the dictionaries
# load data frames into database using sqlalchemy, session.query
# key is foreign key - county and state, combined - references "master county table" 
## update county and state information to match master table - change state to full name not an abbreviation
## then create foreign key

,,Nov-10,Dec-10,Jan-11,Feb-11,Mar-11,Apr-11,May-11,Jun-11,Jul-11,Aug-11,...,Apr-16,May-16,Jun-16,Jul-16,Aug-16,Sep-16,Oct-16,Nov-16,Dec-16,Jan-17
County,State,,,,,,,,,,,,,,,,,,,,,
Acadia,LA,1077.250000,1071.500000,1076.250000,1081.5,1084.250000,1083.750000,1091.000000,1114.250000,1133.750000,1142.750000,...,1222.250000,1217.250000,1217.000000,1208.250000,1185.000000,1162.500000,1150.000000,1148.000000,1149.000000,1146.000000
Accomack,VA,1269.750000,1276.750000,1291.750000,1308.0,1313.000000,1317.500000,1317.250000,1317.500000,1319.750000,1329.250000,...,1360.250000,1331.250000,1311.750000,1296.000000,1282.750000,1274.250000,1268.250000,1267.750000,1271.750000,1277.250000
Ada,ID,NaN,NaN,NaN,NaN,1055.833333,1054.833333,1050.333333,1046.333333,1044.166667,1040.500000,...,1310.666667,1317.166667,1323.833333,1327.333333,1329.333333,1331.500000,1336.666667,1342.166667,1347.166667,1353.500000
Adair,IA,1039.000000,999.000000,974.000000,961.0,961.000000,957.000000,965.000000,978.000000,989.000000,983.000000,...,971.000000,976.000000,973.000000,977.000000,966.000000,952.000000,939.000000,925.000000,922.000000,923.000000
Adams,CO,1248.214286,1251.928571,1259.857143,1273.5,1288.285714,1299.357143,1309.285714,1321.571429,1328.785714,1328.285714,...,1832.500000,1846.357143,1855.571429,1861.428571,1862.571429,1862.357143,1862.571429,1866.285714,1868.928571,1870.142857

In [ ]:
# evictionlab data steps to take:

# import the data from csv - Sidneyh and Harsh and Jason - done by Tuesday

# once the data is imported everyone can feel free to work on the data independently

#----------- TRANSFORM - clean the data -------------
# update county and state info to match master table in anticipation of making this the foreign key - Sidneyh and Harsh and Jason - done by Tuesday

# change column names to be more descriptive AND format for : - Scout and Wesley - done by Tuesday
## poverty rate - change to percentage below poverty line - S and W - done by Tuesday
## race - change to be clear (nh-pi should be native hawaiian or pacific islander) - S and W - done by Tuesday
## pct.other - add "race" so it's clear what this column is referenceing - pct other race - S and W - done by Tuesday
## add "_pct" or similar to every column that is a percentage - S and W - done by Tuesday

# get rid of last three columns - y thru aa - "low flag" "imputed" and "subbed" - all zeros - S and W - done by Tuesday

#---------- LOAD ------------
# key is foreign key - county and state, combined - references "master county table"
## update county and state information to match master table - keep full state name
## then create foreign key

# compare this median.gross.rent to rent information from zillow

In [ ]:
# database to-do list:
# inital database design - Prashanth - "done" by Tuesday
# framework to load data into the database (something something sqlalchemy something something) - Prashanth - "done" by Tuesday

In [ ]:
# database to-do list:
# inital database design - Prashanth - "done" by Tuesday
# framework to load data into the database (something something sqlalchemy something something) - Prashanth - "done" by Tuesday

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect


#DB URL
username = "postgres"
password = "ganesha123" 
db_name = "Residential_Rent_DB"
conn_url = f"postgresql://{username}:{password}@localhost/{db_name}"
    
engine = create_engine(conn_url)

In [ ]:
#Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

In [ ]:
#Populate the state_county_master

#Dummy DF for testing the framework - replace it the DF with the actual DF
state_county_df = pd.read_csv("Resources/counties.csv")
state_county_df.dropna(axis=0, inplace=True, how='any')

#Bulk insert the records into the State_County_Master table
state_county_df.to_sql('state_county_master', engine, index=False, if_exists="append")

In [ ]:
#Populate the COUNTY_ZILLOW_RENTAL_PRICES table
#Populate the COUNTY_DEMOGRAPHICS table
#Populate the COUNTY_RENTERS_EVICTIONS table