In [6]:
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [7]:
#DB URL
username = "postgres"
password = "Big Flopa" 
db_name = "Residential_Rent_DB"
conn_url = f"postgresql://{username}:{password}@localhost/{db_name}"
    
engine = create_engine(conn_url)

#Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

['state_county_master',
 'county_zillow_rental_prices',
 'county_demographics',
 'county_renters_evictions']

In [10]:
# read in the master counties data, create a DataFrame, create new 'county_state' column
path = './Resources/Master_Counties.csv'
df = pd.read_csv(path)
# rename the 'state_name' column


df.to_csv(path, index=False)

PermissionError: [Errno 13] Permission denied: './Resources/Master_Counties.csv'

In [15]:
keep_col = ['state_name','county']
new_df = df[keep_col].drop_duplicates(keep='first')
new_df = new_df.rename(columns={"state_name":"state"})
new_df.head()
counties_path = './Resources/uscounty.csv'
new_df.to_csv(counties_path, index=False)

NameError: name 'df' is not defined

In [ ]:
#Populate the state_county_master

state_county_df = pd.read_csv(counties_path)
state_county_df.dropna(axis=0, inplace=True, how='any')

#Bulk insert the records into the State_County_Master table
state_county_df.to_sql('state_county_master', engine, index=False, if_exists="append")

NameError: name 'engine' is not defined

In [3]:
# zillow steps to take:

# import the data from csv - Randy and Elsa - done by Tuesday
path = './Resources/price.csv'
zillow_info = pd.read_csv(path)

# ----------- TRANSFORM - clean the data --------------
# group rows by county - to get the mean of all records for a county - Randy and Elsa  - done by Tuesday
zillow_info = zillow_info.groupby(['County','State']).mean()

# drop city code and population rank columns from the DataFrame - Mark and Anthony
zillow_info = zillow_info.drop(['City Code','Population Rank'], axis=1)

# transpose the rent information from columns into rows
zillow_info_transpose = zillow_info.T
zillow_info_transpose.head()

# ------------ LOAD - get the data into a sql database -------------
# convert into vertical data set instead of horizontal - dates need to be rows instead of columns... or something...
# read csv 
# put data into dictionaries
# create data frames from the dictionaries
# load data frames into database using sqlalchemy, session.query
# key is foreign key - county and state, combined - references "master county table" 
## update county and state information to match master table - change state to full name not an abbreviation
## then create foreign key

County   Acadia Accomack          Ada   Adair        Adams                 \
State        LA       VA           ID      IA           CO     IA  IL  MS
Nov-10  1077.25  1269.75          NaN  1039.0  1248.214286  933.0 NaN NaN
Dec-10  1071.50  1276.75          NaN   999.0  1251.928571  925.0 NaN NaN
Jan-11  1076.25  1291.75          NaN   974.0  1259.857143  924.0 NaN NaN
Feb-11  1081.50  1308.00          NaN   961.0  1273.500000  928.0 NaN NaN
Mar-11  1084.25  1313.00  1055.833333   961.0  1288.285714  936.0 NaN NaN

County                 ...   Yell Yellow Medicine Yellowstone    Yolo York  \
State      NE      OH  ...     AR              MN          MT      CA   ME
Nov-10  827.0  782.50  ...  755.0          1178.5         NaN  1579.8  NaN
Dec-10  842.0  785.00  ...  759.5          1185.5         NaN  1580.6  NaN
Jan-11  855.0  788.25  ...  760.0          1188.5         NaN  1554.2  NaN
Feb-11  854.0  789.25  ...  759.0          1191.5         NaN  1523.8  NaN
Mar-11  863.0  790.25  ...  757.5          1196.0         NaN  1489.2  NaN

County                                  Yuba    Yuma
State            PA      SC      VA       CA      AZ
Nov-10  1219.951613  1197.9  1715.0  1361.75  946.00
Dec-10  1217.774194  1225.2  1707.5  1364.50  938.75
Jan-11  1221.193548  1239.0  1708.5  1368.00  931.50
Feb-11  1229.354839  1215.9  1710.0  1372.25  936.50
Mar-11  1237.209677  1184.4  1715.5  1372.25  941.75

[5 rows x 1820 columns]

In [5]:
# evictionlab data steps to take:

# import the data from csv - Sidneyh and Harsh and Jason - done by Tuesday
newPath = './Resources/all-counties.csv'
evictionLab = pd.read_csv(newPath)

# once the data is imported everyone can feel free to work on the data independently

# TO DO - do we need to have the mean here or is that not really correct?
# TO DO - the 'County_State' column still has the word 'County' among other words 
# ('Borough', 'Census Area', etc) in all the rows... if we use this as a key we must remove that

evictionLab = evictionLab.rename(columns={"name": "County", "parent.location": "State"})
evictionLab['County'] = evictionLab['County'].str.replace('County', '' )
evictionLab["County_State"] = evictionLab["County"] +"_"+ evictionLab["State"] 

evictionLab_info = evictionLab.groupby(['County','State', "County_State", "year"]).mean()

new = evictionLab_info.drop(['GEOID', 'low.flag', 'imputed', 'subbed'], axis=1)

#----------- TRANSFORM - clean the data -------------

# change column names to be more descriptive AND format - Scout and Wesley 

Eviction_df = new.rename(columns={"poverty.rate" : "below poverty line pct", "renter.occupied.households" : "renter occupied households", 
                                  "pct.renter.occupied" : "renter occupied pct", "median.gross.rent" : "median gross rent", "median.household.income" : "median household income",
                                  "median.property.value" : "median property value", "rent.burden":"rent burden pct", "pct.white" : "white pct", "pct.af.am" : "african american pct",
                                  "pct.hispanic" : "hispanic pct", "pct.am.ind" : "american indian pct", "pct.asian" : "asian pct", "pct.nh.pi" : "pacific islander pct",
                                  "pct.multiple" : "multiple race pct", "pct.other" : "other race pct", "eviction.filings": "eviction filings", "evictions" : "evictions",
                                  "eviction.rate" : "eviction rate", "eviction.filing.rate": "eviction filing rate"})

Eviction_df

#---------- LOAD ------------
# key is foreign key - county and state, combined - references "master county table"
## update county and state information to match master table - keep full state name
## then create foreign key

# compare this median.gross.rent to rent information from zillow

                                                   population  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014     33115.0
                                             2016     33115.0
Adair     Iowa         Adair _Iowa           2001      8243.0
                                             2003      8243.0
                                             2004      8243.0
...                                                       ...
Ziebach   South Dakota Ziebach _South Dakota 2012      2833.0
                                             2013      2833.0
                                             2014      2833.0
                                             2015      2833.0
                                             2016      2833.0

                                                   below poverty line pct  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014                   12.25
                                             2016                   12.25
Adair     Iowa         Adair _Iowa           2001                    7.65
                                             2003                    7.65
                                             2004                    7.65
...                                                                   ...
Ziebach   South Dakota Ziebach _South Dakota 2012                   37.00
                                             2013                   37.00
                                             2014                   37.00
                                             2015                   37.00
                                             2016                   37.00

                                                   renter occupied households  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014                        4080
                                             2016                        4202
Adair     Iowa         Adair _Iowa           2001                         840
                                             2003                         825
                                             2004                         818
...                                                                       ...
Ziebach   South Dakota Ziebach _South Dakota 2012                         413
                                             2013                         419
                                             2014                         425
                                             2015                         431
                                             2016                         437

                                                   renter occupied pct  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014                28.95
                                             2016                28.95
Adair     Iowa         Adair _Iowa           2001                24.96
                                             2003                24.96
                                             2004                24.96
...                                                                ...
Ziebach   South Dakota Ziebach _South Dakota 2012                46.79
                                             2013                46.79
                                             2014                46.79
                                             2015                46.79
                                             2016                46.79

                                                   median gross rent  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014              733.0
                                             2016              733.0
Adair     Iowa         Adair _Iowa           2001              373.0
                                             2003              373.0
                                             2004              373.0
...                                                              ...
Ziebach   South Dakota Ziebach _South Dakota 2012              468.0
                                             2013              468.0
                                             2014              468.0
                                             2015              468.0
                                             2016              468.0

                                                   median household income  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014                  39412.0
                                             2016                  39412.0
Adair     Iowa         Adair _Iowa           2001                  35179.0
                                             2003                  35179.0
                                             2004                  35179.0
...                                                                    ...
Ziebach   South Dakota Ziebach _South Dakota 2012                  35119.0
                                             2013                  35119.0
                                             2014                  35119.0
                                             2015                  35119.0
                                             2016                  35119.0

                                                   median property value  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014               153300.0
                                             2016               153300.0
Adair     Iowa         Adair _Iowa           2001                59300.0
                                             2003                59300.0
                                             2004                59300.0
...                                                                  ...
Ziebach   South Dakota Ziebach _South Dakota 2012                65700.0
                                             2013                65700.0
                                             2014                65700.0
                                             2015                65700.0
                                             2016                65700.0

                                                   rent burden pct  white pct  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014             27.3      60.91
                                             2016             27.3      60.91
Adair     Iowa         Adair _Iowa           2001             18.9      98.45
                                             2003             18.9      98.45
                                             2004             18.9      98.45
...                                                            ...        ...
Ziebach   South Dakota Ziebach _South Dakota 2012             29.4      23.72
                                             2013             29.4      23.72
                                             2014             29.4      23.72
                                             2015             29.4      23.72
                                             2016             29.4      23.72

                                                   african american pct  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014                 28.59
                                             2016                 28.59
Adair     Iowa         Adair _Iowa           2001                  0.07
                                             2003                  0.07
                                             2004                  0.07
...                                                                 ...
Ziebach   South Dakota Ziebach _South Dakota 2012                  0.28
                                             2013                  0.28
                                             2014                  0.28
                                             2015                  0.28
                                             2016                  0.28

                                                   hispanic pct  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014          8.78
                                             2016          8.78
Adair     Iowa         Adair _Iowa           2001          0.70
                                             2003          0.70
                                             2004          0.70
...                                                         ...
Ziebach   South Dakota Ziebach _South Dakota 2012          3.67
                                             2013          3.67
                                             2014          3.67
                                             2015          3.67
                                             2016          3.67

                                                   american indian pct  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014                 0.40
                                             2016                 0.40
Adair     Iowa         Adair _Iowa           2001                 0.07
                                             2003                 0.07
                                             2004                 0.07
...                                                                ...
Ziebach   South Dakota Ziebach _South Dakota 2012                70.56
                                             2013                70.56
                                             2014                70.56
                                             2015                70.56
                                             2016                70.56

                                                   asian pct  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014       0.14
                                             2016       0.14
Adair     Iowa         Adair _Iowa           2001       0.23
                                             2003       0.23
                                             2004       0.23
...                                                      ...
Ziebach   South Dakota Ziebach _South Dakota 2012       0.74
                                             2013       0.74
                                             2014       0.74
                                             2015       0.74
                                             2016       0.74

                                                   pacific islander pct  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014                   0.0
                                             2016                   0.0
Adair     Iowa         Adair _Iowa           2001                   0.0
                                             2003                   0.0
                                             2004                   0.0
...                                                                 ...
Ziebach   South Dakota Ziebach _South Dakota 2012                   0.0
                                             2013                   0.0
                                             2014                   0.0
                                             2015                   0.0
                                             2016                   0.0

                                                   multiple race pct  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014               1.14
                                             2016               1.14
Adair     Iowa         Adair _Iowa           2001               0.41
                                             2003               0.41
                                             2004               0.41
...                                                              ...
Ziebach   South Dakota Ziebach _South Dakota 2012               1.02
                                             2013               1.02
                                             2014               1.02
                                             2015               1.02
                                             2016               1.02

                                                   other race pct  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014            0.03
                                             2016            0.03
Adair     Iowa         Adair _Iowa           2001            0.06
                                             2003            0.06
                                             2004            0.06
...                                                           ...
Ziebach   South Dakota Ziebach _South Dakota 2012            0.00
                                             2013            0.00
                                             2014            0.00
                                             2015            0.00
                                             2016            0.00

                                                   eviction filings  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014             179.0
                                             2016             206.0
Adair     Iowa         Adair _Iowa           2001               1.0
                                             2003               5.0
                                             2004               2.0
...                                                             ...
Ziebach   South Dakota Ziebach _South Dakota 2012               0.0
                                             2013               0.0
                                             2014               0.0
                                             2015               0.0
                                             2016               0.0

                                                   evictions  eviction rate  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014      114.0           2.79
                                             2016       95.0           2.26
Adair     Iowa         Adair _Iowa           2001        1.0           0.12
                                             2003        5.0           0.61
                                             2004        2.0           0.24
...                                                      ...            ...
Ziebach   South Dakota Ziebach _South Dakota 2012        NaN            NaN
                                             2013        NaN            NaN
                                             2014        NaN            NaN
                                             2015        NaN            NaN
                                             2016        NaN            NaN

                                                   eviction filing rate
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014                  4.39
                                             2016                  4.90
Adair     Iowa         Adair _Iowa           2001                  0.12
                                             2003                  0.61
                                             2004                  0.24
...                                                                 ...
Ziebach   South Dakota Ziebach _South Dakota 2012                  0.00
                                             2013                  0.00
                                             2014                  0.00
                                             2015                  0.00
                                             2016                  0.00

[12530 rows x 20 columns]

In [11]:
#columns = ['state','county','year_recorded','number_of_renter_households','renter_occupied_pct','median_gross_rent','median_property_value','rent_burden','eviction_filings','actual_evictions','eviction_rate','eviction_filing_rate']
county_renters_evictions = pd.DataFrame({
    'number_of_renter_households': Eviction_df["renter occupied households"],
    'renter_occupied_pct': Eviction_df['renter occupied pct'],
    'median_gross_rent': Eviction_df['median gross rent'],
    'medain_property_value': Eviction_df['median property value'],
    'rent_burden': Eviction_df['eviction filings'], 
    'actual_filings': Eviction_df['evictions'], 
    'eviction_rate': Eviction_df['eviction rate'], 
    'eviction_filing_rate': Eviction_df['eviction filing rate']
    #'median_gorss'
})

county_demographics = pd.DataFrame({
    'population': Eviction_df['population'],
    'poverty_rate_pct': Eviction_df['below poverty line pct'], 
    'median_household_income': Eviction_df['median household income'], 
    'white_pct': Eviction_df['white pct'], 
    'af_am_pct': Eviction_df['african american pct'], 
    'hispanic_pct': Eviction_df['hispanic pct'], 
    'am_ind_pct': Eviction_df['american indian pct'], 
    'asian_pct': Eviction_df['asian pct'], 
    'hawaiin_pac_isl_pct': Eviction_df['pacific islander pct'], 
    'multiple_race_pct': Eviction_df['multiple race pct'], 
    'other_races_pct': Eviction_df['other race pct']
})

In [ ]:
#Populate the COUNTY_ZILLOW_RENTAL_PRICES table
#Populate the COUNTY_DEMOGRAPHICS table
#Populate the COUNTY_RENTERS_EVICTIONS table

In [12]:
county_renters_evictions

                                                   number_of_renter_households  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014                         4080
                                             2016                         4202
Adair     Iowa         Adair _Iowa           2001                          840
                                             2003                          825
                                             2004                          818
...                                                                        ...
Ziebach   South Dakota Ziebach _South Dakota 2012                          413
                                             2013                          419
                                             2014                          425
                                             2015                          431
                                             2016                          437

                                                   renter_occupied_pct  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014                28.95
                                             2016                28.95
Adair     Iowa         Adair _Iowa           2001                24.96
                                             2003                24.96
                                             2004                24.96
...                                                                ...
Ziebach   South Dakota Ziebach _South Dakota 2012                46.79
                                             2013                46.79
                                             2014                46.79
                                             2015                46.79
                                             2016                46.79

                                                   median_gross_rent  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014              733.0
                                             2016              733.0
Adair     Iowa         Adair _Iowa           2001              373.0
                                             2003              373.0
                                             2004              373.0
...                                                              ...
Ziebach   South Dakota Ziebach _South Dakota 2012              468.0
                                             2013              468.0
                                             2014              468.0
                                             2015              468.0
                                             2016              468.0

                                                   medain_property_value  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014               153300.0
                                             2016               153300.0
Adair     Iowa         Adair _Iowa           2001                59300.0
                                             2003                59300.0
                                             2004                59300.0
...                                                                  ...
Ziebach   South Dakota Ziebach _South Dakota 2012                65700.0
                                             2013                65700.0
                                             2014                65700.0
                                             2015                65700.0
                                             2016                65700.0

                                                   rent_burden  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014        179.0
                                             2016        206.0
Adair     Iowa         Adair _Iowa           2001          1.0
                                             2003          5.0
                                             2004          2.0
...                                                        ...
Ziebach   South Dakota Ziebach _South Dakota 2012          0.0
                                             2013          0.0
                                             2014          0.0
                                             2015          0.0
                                             2016          0.0

                                                   actual_filings  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014           114.0
                                             2016            95.0
Adair     Iowa         Adair _Iowa           2001             1.0
                                             2003             5.0
                                             2004             2.0
...                                                           ...
Ziebach   South Dakota Ziebach _South Dakota 2012             NaN
                                             2013             NaN
                                             2014             NaN
                                             2015             NaN
                                             2016             NaN

                                                   eviction_rate  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014           2.79
                                             2016           2.26
Adair     Iowa         Adair _Iowa           2001           0.12
                                             2003           0.61
                                             2004           0.24
...                                                          ...
Ziebach   South Dakota Ziebach _South Dakota 2012            NaN
                                             2013            NaN
                                             2014            NaN
                                             2015            NaN
                                             2016            NaN

                                                   eviction_filing_rate
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014                  4.39
                                             2016                  4.90
Adair     Iowa         Adair _Iowa           2001                  0.12
                                             2003                  0.61
                                             2004                  0.24
...                                                                 ...
Ziebach   South Dakota Ziebach _South Dakota 2012                  0.00
                                             2013                  0.00
                                             2014                  0.00
                                             2015                  0.00
                                             2016                  0.00

[12530 rows x 8 columns]

In [13]:
county_demographics

                                                   population  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014     33115.0
                                             2016     33115.0
Adair     Iowa         Adair _Iowa           2001      8243.0
                                             2003      8243.0
                                             2004      8243.0
...                                                       ...
Ziebach   South Dakota Ziebach _South Dakota 2012      2833.0
                                             2013      2833.0
                                             2014      2833.0
                                             2015      2833.0
                                             2016      2833.0

                                                   poverty_rate_pct  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014             12.25
                                             2016             12.25
Adair     Iowa         Adair _Iowa           2001              7.65
                                             2003              7.65
                                             2004              7.65
...                                                             ...
Ziebach   South Dakota Ziebach _South Dakota 2012             37.00
                                             2013             37.00
                                             2014             37.00
                                             2015             37.00
                                             2016             37.00

                                                   median_household_income  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014                  39412.0
                                             2016                  39412.0
Adair     Iowa         Adair _Iowa           2001                  35179.0
                                             2003                  35179.0
                                             2004                  35179.0
...                                                                    ...
Ziebach   South Dakota Ziebach _South Dakota 2012                  35119.0
                                             2013                  35119.0
                                             2014                  35119.0
                                             2015                  35119.0
                                             2016                  35119.0

                                                   white_pct  af_am_pct  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014      60.91      28.59
                                             2016      60.91      28.59
Adair     Iowa         Adair _Iowa           2001      98.45       0.07
                                             2003      98.45       0.07
                                             2004      98.45       0.07
...                                                      ...        ...
Ziebach   South Dakota Ziebach _South Dakota 2012      23.72       0.28
                                             2013      23.72       0.28
                                             2014      23.72       0.28
                                             2015      23.72       0.28
                                             2016      23.72       0.28

                                                   hispanic_pct  am_ind_pct  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014          8.78        0.40
                                             2016          8.78        0.40
Adair     Iowa         Adair _Iowa           2001          0.70        0.07
                                             2003          0.70        0.07
                                             2004          0.70        0.07
...                                                         ...         ...
Ziebach   South Dakota Ziebach _South Dakota 2012          3.67       70.56
                                             2013          3.67       70.56
                                             2014          3.67       70.56
                                             2015          3.67       70.56
                                             2016          3.67       70.56

                                                   asian_pct  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014       0.14
                                             2016       0.14
Adair     Iowa         Adair _Iowa           2001       0.23
                                             2003       0.23
                                             2004       0.23
...                                                      ...
Ziebach   South Dakota Ziebach _South Dakota 2012       0.74
                                             2013       0.74
                                             2014       0.74
                                             2015       0.74
                                             2016       0.74

                                                   hawaiin_pac_isl_pct  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014                  0.0
                                             2016                  0.0
Adair     Iowa         Adair _Iowa           2001                  0.0
                                             2003                  0.0
                                             2004                  0.0
...                                                                ...
Ziebach   South Dakota Ziebach _South Dakota 2012                  0.0
                                             2013                  0.0
                                             2014                  0.0
                                             2015                  0.0
                                             2016                  0.0

                                                   multiple_race_pct  \
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014               1.14
                                             2016               1.14
Adair     Iowa         Adair _Iowa           2001               0.41
                                             2003               0.41
                                             2004               0.41
...                                                              ...
Ziebach   South Dakota Ziebach _South Dakota 2012               1.02
                                             2013               1.02
                                             2014               1.02
                                             2015               1.02
                                             2016               1.02

                                                   other_races_pct
County    State        County_State          year
Accomack  Virginia     Accomack _Virginia    2014             0.03
                                             2016             0.03
Adair     Iowa         Adair _Iowa           2001             0.06
                                             2003             0.06
                                             2004             0.06
...                                                            ...
Ziebach   South Dakota Ziebach _South Dakota 2012             0.00
                                             2013             0.00
                                             2014             0.00
                                             2015             0.00
                                             2016             0.00

[12530 rows x 11 columns]